body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: white;
}

#google-map{
  height: 82vh;
  width: 100%;
  margin-top: 10vh;
}

.autocomplete-dropdown-container{
  overflow: visible;
}

#bottom-tabs{
  height: 8vh;
}

#logo {
  background-color: white;
  color: black;
}
